/* ALL colors in a component use local variables */
/* Local variables can get values from base, but the component should be portable */

/* This file is for local variables that change based on media queries */
/* For logic that changes on media queries, see mobile and desktop files */

@import '../../base/variables';

:root {
    --adv-cont-bgclr: #{$clr-backdrop};
    --adv-id-clr: #{$clr-accent};
    --adv-text-clr: #{$clr-primary};
    --adv-btn-bgclr: #{$clr-accent};
    --adv-btn-imgclr: #{$clr-bg};
    --adv-btn-inactive-bgclr: #{$clr-btn-inactive};

    --adv-cont-w: 93%;
    --adv-cont-bradius: 8px;

    --adv-id-fs: 12px;
    --adv-text-fs: 22px;
    --adv-text-lh: 1.3em;

    --adv-btn-w: 64px;
    --adv-btn-img-w: 24px;
}

// Most tablets
@media (min-width: 512px) {
    :root {
        --adv-cont-w: 54%;
    }
}

// 1366, 1440px
@media (min-width: 1024px) {
    :root {
        --adv-cont-w: 37%;
        --adv-cont-bradius: 20px;

        --adv-id-fs: 14px;
        --adv-text-fs: 26px;
    }
}