@import 'variables';

:root {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #{$clr-bg};
    /* Fallback text color */
    color: #fff;
}

.component-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}